%% Linked-in driver config
%%
%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ft=erlang ts=4 sw=4 et
%%

{so_name, "couchjs"}.
{so_specs, [{"couchjs", [
                "c_src/main.o",
                "c_src/utf8.o"
]}]}.

{port_envs, [
        {"DRV_CFLAGS", "$DRV_CFLAGS -fPIC -Wall -I c_src/system/include/js -DXP_UNIX"},

        {"DRV_LDFLAGS", "$ERL_LDFLAGS c_src/system/lib/libjs_static.a c_src/system/lib/libnspr4.a"},

        {"darwin", "LDFLAGS", "$LDFLAGS -lstdc++"},
        {"(linux|freebsd)", "LDFLAGS", "$LDFLAGS -lstdc++ -lpthread"}
    ]}.

{pre_hooks, [{compile, "./utils/fetch_libs.sh"},
             {compile, "make -C c_src"},
             {compile, "make -C js"}]}.

{post_hooks, [{clean, "make -C c_src clean"},
              {clean, "make -C js clean"}]}.
